*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.my-fs-1-5em{font-size: 1.5em;}

ul{
    padding-left: 0;
}

.no-Margin{margin-bottom: 0;}


.bkgDarkBlue{background-color: #2c3e50;}
.bkgLightBlue{background-color: #3a546d;}
.bkgGreen{background-color: #1abc9c;}

.text-color-grey{color: #757575;}
.h510{min-height: 510px;}
.h230{min-height: 230px;}
.h40{min-height: 40px;}

.flex{display: flex;}




.happy{
    height: 240px;
}

.myLine{
    width: 130px;
    height: 2px;
}

.fa-download{
    color:white;
}

#dwnldBtn:hover .fa-download{
    color:black;
}

.logoBox{
    width: 50px;
    height: 50px;
}

.socialLogo{
    line-height: 47px;
}

.copyright{
    font-size: 12px;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus,
body:not(.user-is-tabbing) .form-group:focus {
  outline: none;
}

.fa-bars{
    display: none;
}

@media screen and (max-width:576px){
    .fa-bars{
        display: block;
    }

    .navBarItems{
        display: none;
    }

    .aboutParagraph{
        padding: 20px 40px;
    }

}

@media screen and (max-width: 768px){
    
    .aboutParagraph{
        padding: 20px 40px;
    }

    .footerDscrpt{
        font-size: 12px;
    }

    .footerTitle{
        font-size: 10px;
    }
}




