*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus,
body:not(.user-is-tabbing) .form-group:focus {
  outline: none;
}

.my-fs-1-5em{font-size: 1.5em;}
.no-Margin{margin-bottom: 0;}
.margin05em{margin-bottom: 0.5em;}

.bkgDarkBlue{background-color: #2c3e50;}
.bkgLightBlue{background-color: #3a546d;}
.bkgGreen{background-color: #1abc9c;}
.textGreen{color: #1abc9c;}
.text-color-grey{color: #757575;}

/* HEIGHTS */
.h510{min-height: 510px;}
.h230{min-height: 230px;}
.h40{min-height: 40px;}


.flex{display: flex;}


/* HEADER */
ul{
    padding-left: 0;
}

.navBarItems li a{
    height: 100%;
}

.navBarItems li:hover{
    transform: scale(1.1);
}

.navBarItems li:hover a{
    border-bottom: 1px solid #1abc9c;
}



.fa-bars{
    display: none;
}

/* HERO */
.happy{
    height: 240px;
}

/* MAIN */
.myLine{
    width: 100px;
    height: 2px;
}

.fa-download{
    color:white;
}

#dwnldBtn:hover .fa-download{
    color:black;
}

.logoBox{
    width: 50px;
    height: 50px;
}

.logoBox:hover{
    background-color: white;
}

.logoBox:hover .socialLogo{
    color: #3a546d;
}

.formBtn:hover{
    border: 1px solid black;
}

/* FOOTER */
.socialLogo{
    line-height: 47px;
}

.copyright{
    font-size: 12px;
}


@media screen and (max-width: 768px){
    
    .aboutParagraph{
        padding: 20px 40px;
    }

    .footerDscrpt{
        font-size: 13px;
    }

    .footerTitle{
        font-size: 8px;
    }
}

    

@media screen and (max-width:576px){
    .fa-bars{
        display: block;
    }

    .navBarItems{
        display: none;
    }

    .aboutParagraph{
        padding: 10px 40px;
    }

}






